# Prerequisites
*.d

# cache
.cache
.clangd

# macOS
.DS_Store

# idea
.idea/*

# vscode
.vscode

# cmake-build-directories
cmake-build-debug/*
cmake-build-release/*
build-vscode/*

# out
out
compile_commands.json

# py chaches
__pycache__

# thirdparty
thirdparty

# repo
.repo
